version: '2'

# Kafka-connect Service
# =====================
#
# - CNTR: container

services:
  kafka-base:
    image: '{{ docker_registry }}:{{ docker_registry_port }}/{{ kafka_image }}'
    build:
      context: ./img-build/kafka
    entrypoint: 'true'

  connect:
    image: '{{ docker_registry }}:{{ docker_registry_port }}/{{ kafka_connect_image }}'
    build:
      context: ./img-build/connect
      args:
        KAFKA_IMAGE: krealo/kafka-alpine-zulu:0.8
    ports:
      - 8083:8083
      - 5005:5005
    volumes:
      - ./.secrets:/secrets
    environment:
      GROUP_ID: '{{ connect_group_id }}'
      BOOTSTRAP_SERVERS: '{{ connect_kafka_servers }}'
      CONFIG_STORAGE_TOPIC: '{{ connect_topic_prefix }}_configs'
      OFFSET_STORAGE_TOPIC: '{{ connect_topic_prefix }}_offsets'
      STATUS_STORAGE_TOPIC: '{{ connect_topic_prefix }}_statuses'
      KEY_CONVERTER: 'io.confluent.connect.avro.AvroConverter'
      VALUE_CONVERTER: 'io.confluent.connect.avro.AvroConverter'
      CONNECT_KEY_CONVERTER_SCHEMA_REGISTRY_URL: >-
        http://schema-registry:8081
      CONNECT_VALUE_CONVERTER_SCHEMA_REGISTRY_URL: >-
        http://schema-registry:8081
      CONNECT_MAX_REQUEST_SIZE: 2097152
      CONNECT_CONFIG_PROVIDERS: file
      CONNECT_CONFIG_PROVIDERS_FILE_CLASS: >-
        org.apache.kafka.common.config.provider.FileConfigProvider
    extra_hosts:
      - "schema-registry:{{ connect_schema_registry }}"
