version: '2'

# Schema-registry service
# =======================
#
# - CNTR: container

services:
  schema-registry:
    image: confluentinc/cp-schema-registry:5.3.1
    ports:
      - 8081:8081
    environment:
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: '{{ registry_kafka_servers }}'
      SCHEMA_REGISTRY_HOST_NAME: 'schema-registry'
      SCHEMA_REGISTRY_LISTENERS: 'http://schema-registry:8081'

