version: '2'

# Kafka service
# ====================
#
# - CNTR: container

services:
  zookeeper:
    build:
      context: ./img-build/zookeeper
    environment:
      ZOO_STANDALONE_ENABLED: 'false'
      ZOO_MY_ID: {{ zookeeper_id }}
      ZOO_SERVERS: >-
    {% for host in groups['brokers'] %}
      server.{{ hostvars[host]['zookeeper_id'] }}=
    {%- if zookeeper_id == hostvars[host]['zookeeper_id'] %}0.0.0.0
    {%- else -%}
    {{ hostvars[host]['ansible_default_ipv4']['address'] -}}
    {% endif %}:2888:3888;2181
    {% endfor %}

    volumes:
      - /data/zk-data:/data
    ports:
      - 2181:2181
      - 2888:2888
      - 3888:3888
    extra_hosts:
  {% for host in groups['brokers'] %}
    - "zookeeper-{{ hostvars[host]['zookeeper_id'] }}:{{ hostvars[host]['ansible_default_ipv4']['address'] }}"
  {% endfor %}


  kafka-server:
    build:
      context: ./img-build/kafka
    volumes:
      - /data/kafka-data:/kafka/data
      - /data/kafka-logs:/kafka/logs
      - ./kafka-config:/kafka/config
    ports:
      - 9092:9092
      - 9094:9094
    depends_on:
      - zookeeper
    environment:
      BROKER_ID: {{ kafka_id }}
      ZOOKEEPER_CONNECT: '{{ kafka_zk_servers }}'
      KAFKA_INTER_BROKER_LISTENER_NAME: 'CLOUD'
      KAFKA_DELETE_TOPIC_ENABLE: 'true'
      LISTENERS: CLOUD://0.0.0.0:9092
      ADVERTISED_LISTENERS: CLOUD://{{ ansible_default_ipv4.address }}:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CLOUD:PLAINTEXT
